<% let mainColor = 'white'; %>
<% let fontColor = 'black-text'; %>
<% let altFontColor = 'black-text'; %>

<% if (currentUser && currentUser.userType === 'developer') { %>
  <% mainColor = 'deep-purple'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'deep-purple-text' %>
<% } else if (currentUser && currentUser.userType === 'nonprofit') { %>
  <% mainColor = 'cyan'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'cyan-text' %>
<% } %>

<!DOCTYPE html>
<html>
  <head>
    <title>Developer Link</title>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <% if (currentUser) { %>
        <li><a href="/users/<%= currentUser.id %>" class="<%= altFontColor %>">View Profile</a></li>
        <li><a href="/users/<%= currentUser.id %>/edit" class="<%= altFontColor %>">Edit Profile</a></li>
        <% if (currentUser.userType === 'nonprofit') { %>
          <li><a href="/projects/new" class="<%= altFontColor %>">Create Project</a></li>
        <% } %>
        <li><a href="/users/<%= currentUser.id %>/messages" class="<%= altFontColor %>">Messages</a></li>
      <% } %>
      <li class="divider"></li>
      <li><a href="/sessions/logout" class="<%= altFontColor %>">Log Out</a></li>
    </ul>

    <div class="navbar-fixed">
      <nav class="<%= mainColor %>" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo <%= fontColor %>">Developer Link</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/developers" class="<%= fontColor %>">Browse Developers</a></li>
            <li><a href="/projects" class="<%= fontColor %>">Browse Projects</a></li>
            <!-- Dropdown Trigger -->
            <% if (currentUser) { %>
              <li><a class="dropdown-button <%= fontColor %>" href="#!" data-activates="dropdown1">User Options<i class="material-icons right">arrow_drop_down</i></a></li>
            <% } else { %>
              <li><a href="/sessions/new" class="<%= fontColor %>">Sign In</a></li>
            <% } %>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="/developers" class="<%= altFontColor %>">Browse Developers</a></li>
            <li><a href="/projects" class="<%= altFontColor %>">Browse Projects</a></li>
            <li class="divider"></li>
            <% if (currentUser) { %>
              <li><a href="/users/<%= currentUser.id %>" class="<%= altFontColor %>">View Profile</a></li>
              <li><a href="/users/<%= currentUser.id %>/edit" class="<%= altFontColor %>">Edit Profile</a></li>
              <% if (currentUser && currentUser.userType === 'nonprofit') { %>
                <li><a href="/projects/new" class="<%= altFontColor %>">Create Project</a></li>
              <% } %>
              <li><a href="#!" class="<%= altFontColor %>">Messages</a></li>
              <li class="divider"></li>
              <li><a href="/sessions/logout" class="<%= altFontColor %>">Log Out</a></li>
            <% } else { %>
              <li><a href="/sessions/new" class="<%= altFontColor %>">Sign In</a></li>
            <% } %>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse <%= fontColor %>"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    <%# if (info) { %>
      <%= info %>
    <%# } else if (error) { %>
      <%= error %>
    <%# } else if (success) { %>
      <%= success %>
    <%# } %>
