<%- include('../partials/header') %>

<h1>MESSAGES</h1>

<h3>Received Messages</h3>

<% if (rcvdMessages.length > 0) { %>
  <ul class="messages-list">
    <% for (let message of rcvdMessages) { %>
      <li>
        <p>
          From:
          <a href="/users/<%= currentUser.id %>/messages/<%= message.id %>">
          <%= message.sender.firstName %> <%= message.sender.lastName %>
          </a>
          - <%= message.createdAt %>
        </p>
        <hr>
      </li>
    <% } %>
  </ul>
<% } else { %>
  <p>This account does not currently have any received messages.</p>
<% } %>


<h3>Sent Messages</h3>

<% if (sentMessages.length > 0) { %>
  <ul class="messages-list">
    <% for (let message of sentMessages) { %>
      <li>
        <p>
          To: 
          <a href="/users/<%= currentUser.id %>/messages/<%= message.id %>">
            <%= message.receiver.firstName %> <%= message.receiver.lastName %>
          </a>
          - <%= message.createdAt %>
        </p>
        <hr>
      </li>
    <% } %>
  </ul>
<% } else { %>
  <p>This account does not currently have any sent messages.</p>
<% } %>

<%- include('../partials/footer') %>
