<%- include('../partials/header') %>

<h1>MESSAGES</h1>

<a href="/users/<%= currentUser.id %>/messages">Back to Messages</a>

<ul class="message">
  <li>
    <p><%= message.body %></p>
    <p>From: <%= message.sender.firstName %> <%= message.sender.lastName %></p>
    <p>Date: <span data-moment-format="LLL"><%= message.createdAt %></span></p>
  </li>
</ul>
<hr>

<% if (responses.length > 0) { %>
  <ul class="responses-list">
    <% for (let response of responses) { %>
      <li>
        <p><%= response.body %></p>
        <p>From: <%= response.sender.firstName %> <%= response.sender.lastName %></p>
        <p>Date: <span data-moment-format="LLL"><%= response.createdAt %></span></p>
        <hr>
      </li>
    <% } %>
  </ul>
<% } %>

<h3>Reply</h3>

<div class="row">
  <form class="col s12" action="/users/<%= currentUser.id %>/messages/<%= message.id %>/responses" method="post">
    <div class="row">
      <div class="input-field col s12">
        <textarea name="body" id="body" class="materialize-textarea"></textarea>
        <label for="body">Body</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Send
    </button>
  </form>
</div>

<%- include('../partials/footer') %>
