<% let mainColor = 'white'; %>
<% let fontColor = 'black-text'; %>
<% let altFontColor = 'black-text'; %>
<% let searchColor = 'blue' %>

<% if (currentUser && currentUser.userType === 'developer') { %>
  <% mainColor = 'deep-purple'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'deep-purple-text' %>
  <% searchColor = 'deep-purple' %>
<% } else if (currentUser && currentUser.userType === 'nonprofit') { %>
  <% mainColor = 'cyan'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'cyan-text' %>
  <% searchColor = 'cyan' %>
<% } %>

<%- include('../partials/header') %>

<div class="container">

  <div class="row">
    <div class="col s12">
      <h3>Conversation: <%= message.sender.firstName %> <%= message.sender.lastName %> and <%= message.receiver.firstName %> <%= message.receiver.lastName %></h3>

      <div class="message">
        <div class="card white">
          <div class="card-content black-text">
            <div class="row">
              <div class="col s1">
                <img src="/images/<%= message.sender.avatar %>" class="circle icon-avatar">
              </div>
              <div class="col s11">
                <strong>From: <a href="/users/<%= message.sender.id %>"><%= message.sender.firstName %> <%= message.sender.lastName %></a></strong>
                <br><br><%= message.body %>
                <br><br><em>Date: <span data-moment-format="LLL"><%= message.createdAt %></span></em>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if (responses.length > 0) { %>
        <div class="rmessage">
          <% for (let response of responses) { %>
            <div class="card white">
              <div class="card-content black-text">
                <div class="row">
                  <div class="col s1">
                    <img src="/images/<%= response.sender.avatar %>" class="circle icon-avatar">
                  </div>
                  <div class="col s11">
                    <strong>From: <a href="/users/<%= response.sender.id %>"><%= response.sender.firstName %> <%= response.sender.lastName %></a></strong>
                    <br><br><%= response.body %>
                    <br><br><em>Date: <span data-moment-format="LLL"><%= response.createdAt %></span></em>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>

  <div class="col s12">
    <h3>Reply</h3>

    <div class="card white">
      <div class="card-content black-text">
        <div class="row">
          <form class="col s12" action="/users/<%= currentUser.id %>/messages/<%= message.id %>/responses" method="post">
            <div class="row">
              <div class="input-field col s12">
                <textarea name="body" id="body" class="materialize-textarea"></textarea>
                <label for="body">Body</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light <%= mainColor %> <%= fontColor %>" type="submit" name="action">Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>



</div>

<footer class="page-footer <%= mainColor %>">
  <div class="container my-footer">
  </div>
</footer>

<%- include('../partials/footer') %>
