<%- include('../partials/header') %>

  <h1>Browse Developers</h1>

  <ul class="collapsible popout developers-list" data-collapsible="expandable">
    <% for (let developer of developers) { %>
      <li>
        <div class="collapsible-header"><i class="material-icons">perm_identity</i><%= developer.firstName %> <%= developer.lastName %></div>
        <div class="collapsible-body">
          <span><%= developer.description %></span>
          <div class="right-align">
            <a class="waves-effect waves-teal btn-flat" href="/users/<%= developer.id %>">
              Profile
            </a>
          </div>
        </div>
      </li>
    <% } %>
  </ul>

<%- include('../partials/footer') %>
