<%- include('../partials/header') %>
<div class="container">

  <h1>Search Developers</h1>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="search" type="text" name="search">
          <label for="search">Search</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      </button>
    </form>
  </div>

  <h1>Browse Developers</h1>

  <ul class="collapsible popout developers-list" data-collapsible="expandable">
    <% for (let developer of developers) { %>
      <li>
        <div class="collapsible-header"><i class="material-icons">perm_identity</i><%= developer.firstName %> <%= developer.lastName %></div>
        <div class="collapsible-body">
          <span><%= developer.description %></span>
          <div class="right-align">
            <a class="waves-effect waves-teal btn-flat" href="/users/<%= developer.id %>">
              Profile
            </a>
          </div>
        </div>
      </li>
    <% } %>
  </ul>

</div>
<%- include('../partials/footer') %>
