<% let mainColor = 'white'; %>
<% let fontColor = 'black-text'; %>
<% let altFontColor = 'black-text'; %>
<% let searchColor = 'indigo lighten-2' %>

<% if (currentUser && currentUser.userType === 'developer') { %>
  <% mainColor = 'deep-purple'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'deep-purple-text' %>
  <% searchColor = 'deep-purple' %>
<% } else if (currentUser && currentUser.userType === 'nonprofit') { %>
  <% mainColor = 'cyan'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'cyan-text' %>
  <% searchColor = 'cyan' %>
<% } %>

<%- include('../partials/header') %>

<div class="container">

  <h1>Search Developers</h1>

  <div class="row">
    <form class="col s12 search-form">
      <div class="row">
        <div class="input-field col s12">
          <input class="search" type="text" name="search" value="<%= searchVal %>">
          <label for="search">Search</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <select name="charity" class="charity-form" multiple>
            <option value="" disabled selected>Charity Types</option>
            <% for (let char of chars) { %>
              <option
                <% if (selectedChars.includes(char.name)) { %>
                  selected
                <% } %>
                value="<%= char.name %>"><%= char.name %></option>
            <% } %>
          </select>
        </div>

        <div class="input-field col s4">
          <select name="technology" class="technology-form" multiple>
            <option value="" disabled selected>Technologies</option>
            <% for (let tech of techs) { %>
              <option
                <% if (selectedTechs.includes(tech.name)) { %>
                  selected
                <% } %>
                value="<%= tech.name %>"><%= tech.name %></option>
            <% } %>
          </select>
        </div>

        <div class="input-field col s4">
          <select name="language" class="language-form" multiple>
            <option value="" disabled selected>Languages</option>
            <% for (let lang of langs) { %>
              <option
                <% if (selectedLangs.includes(lang.name)) { %>
                  selected
                <% } %>
                value="<%= lang.name %>"><%= lang.name %></option>
            <% } %>
          </select>
        </div>

      </div>
      <button class="btn waves-effect waves-light <%= searchColor %> <%= fontColor %>"
        type="submit" name="action">Submit
      </button>
      <button class="btn waves-effect waves-light <%= searchColor %> <%= fontColor %> reset-form"
        type="reset" name="action">Reset
      </button>
    </form>
  </div>

  <div id="map"></div>

  <h1>Browse Developers</h1>

  <ul class="collapsible popout developers-list" data-collapsible="expandable">
    <% for (let developer of developers) { %>
      <li>
        <div class="collapsible-header"><img class="browse-avatar" src="/images/<%= developer.avatar %>"><%= developer.firstName %> <%= developer.lastName %></div>
        <div class="collapsible-body">
          <span><%= developer.description %></span>
          <div class="right-align">
            <a class="waves-effect waves-<%= mainColor %> btn-flat" href="/users/<%= developer.id %>">
              Profile
            </a>
          </div>
        </div>
      </li>
    <% } %>
  </ul>

</div>

<footer class="page-footer <%= mainColor %>">
  <div class="container my-footer">
  </div>
</footer>

<script>
  function initMap() {
    var center = {lat: 20, lng: 0};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: center,
      scrollwheel: false
    });
    for (let dev of <%- JSON.stringify(devCoords) %>) {
      var marker = new google.maps.Marker({
        position: {lat: dev[1], lng: dev[2]},
        map: map,
        title: dev[0],
        zIndex: dev[3]
      });
    }
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_TOKEN %>&callback=initMap">
</script>

<%- include('../partials/footer') %>
