<%- include('../partials/header') %>

  <h1>Browse Projects</h1>

  <ul class="projects-list">
      <% for (let project of projects) { %>
        <li>
          <%= project.title %>
          <p><%= project.description %></p>
          <p><%= project.deadline %></p>
          <p><%= project.github %></p>
          <a href="/users/<%= project.ownerId %>">
            <p><%= project.owner.orgName %></p>
          </a>
        </li>
      <% } %>
    </ul>

<%- include('../partials/footer') %>
