<%- include('../partials/header') %>
<div class="container">

  <h1>Browse Projects</h1>

  <ul class="collapsible popout projects-list" data-collapsible="expandable">
    <% for (let project of projects) { %>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">web</i>
          <%= project.title %>
        </div>
        <div class="collapsible-body">
          <span><%= project.description %></span>
          <p>Deadline: <span data-moment-format="LL"><%= project.deadline %></span></p>
          <p>GitHub: <%= project.github %></p>

          <p>Charity Type:
            <% if (project.owner) { %>
              <div class="chip"><%= project.owner.charityType %></div>
            <% } %>
          </p>

          <p>Technologies:
            <% for (let tag of project.Tags) { %>
              <% if (tag.tagType === 'technology') { %>
                <div class="chip"><%= tag.name %></div>
              <% } %>
            <% } %>
          </p>

          <p>Languages:
            <% for (let tag of project.Tags) { %>
              <% if (tag.tagType === 'language') { %>
                <div class="chip"><%= tag.name %></div>
              <% } %>
            <% } %>
          </p>

          <p>Non-profit:
            <% if (project.owner) { %>
              <%= project.owner.orgName %>
            <% } %>
          </p>

          <div class="right-align">
            <a class="waves-effect waves-teal btn-flat" href="/users/<%= project.ownerId %>">
              Profile
            </a>
          </div>

        </div>
      </li>
    <% } %>

</div>

<%- include('../partials/footer') %>
