<% let mainColor = 'white'; %>
<% let fontColor = 'black-text'; %>
<% let altFontColor = 'black-text'; %>
<% let searchColor = 'indigo lighten-2' %>

<% if (currentUser && currentUser.userType === 'developer') { %>
  <% mainColor = 'deep-purple'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'deep-purple-text' %>
  <% searchColor = 'deep-purple' %>
<% } else if (currentUser && currentUser.userType === 'nonprofit') { %>
  <% mainColor = 'cyan'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'cyan-text' %>
  <% searchColor = 'cyan' %>
<% } %>

<%- include('../partials/header') %>

<div class="container">
  <h1>Sign In</h1>

  <% if (errors) { %>
    <div><%= errors %></div>
  <% } %>

  <div class="row">
    <form class="col s12" action="/sessions" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input name="email" id="email" type="email" class="validate"
            value="<%= user.email %>">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light <%= searchColor %> <%= fontColor %>" type="submit" name="action">Sign In
      </button>
    </form>
  </div>
  <div class="row">
    <a href="/users/new" style="padding: 0 0.75rem">Create an Account</a>
  </div>
</div>

<footer class="page-footer <%= mainColor %>">
  <div class="container my-footer">
  </div>
</footer>

<%- include('../partials/footer') %>
