<% let mainColor = 'white'; %>
<% let fontColor = 'black-text'; %>
<% let altFontColor = 'black-text'; %>

<% if (currentUser && currentUser.userType === 'developer') { %>
  <% mainColor = 'deep-purple'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'deep-purple-text' %>
<% } else if (currentUser && currentUser.userType === 'nonprofit') { %>
  <% mainColor = 'cyan'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'cyan-text' %>
<% } %>

<%- include('../partials/header') %>

<div class="container">
  <h1>Edit User Profile</h1>

  <div class="row">
    <form class="col s12" action="/users/<%= user.id %>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <div class="row">
        <div class="input-field col s6">
          <input name="firstName" id="first_name" type="text"
            class="validate" value="<%= user.firstName %>">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input name="lastName" id="last_name" type="text"
            class="validate" value="<%= user.lastName %>">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="email" id="email" type="email"
            class="validate" value="<%= user.email %>">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="address" id="address" type="text"
            class="validate" value="<%= user.address %>">
          <label for="address">Street Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="city" id="city" type="text"
            class="validate" value="<%= user.city %>">
          <label for="city">City</label>
        </div>
        <div class="input-field col s6">
          <input name="province" id="province" type="text"
            class="validate" value="<%= user.province %>">
          <label for="province">Province/State</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="country" id="country" type="text"
            class="validate" value="<%= user.country %>">
          <label for="country">Country</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="description" id="description"
            class="materialize-textarea"><%= user.description %></textarea>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="website" id="website" type="text" class="validate"
            value="<%= user.website %>">
          <label for="website">Website</label>
        </div>
      </div>

      <% if (user.userType === 'developer') { %>
        <input type="hidden" name="userType" value="developer">
        <div class="row dev-options">
          <div class="input-field col s12">
            <input name="github" id="github" type="text" class="validate"
              value="<%= user.github %>">
            <label for="github">GitHub</label>
          </div>
        </div>
        <div class="row dev-options">
          <div class="input-field col s12">
            <input name="linkedin" id="linkedin" type="text" class="validate"
              value="<%= user.linkedin %>">
            <label for="linkedin">LinkedIn</label>
          </div>
        </div>
        <div class="row dev-options">
          <div class="input-field col s12">
            <select name="technology" multiple>
              <option value="" disabled selected>Choose your technologies</option>
              <% for (let tech of techs) { %>
                <option
                  <% if (userTags.includes(tech.id)) { %>
                    selected
                  <% } %>
                  value="<%= tech.name %>"><%= tech.name %></option>
              <% } %>
            </select>
            <label for="technology">Technologies</label>
          </div>
        </div>
        <div class="row dev-options">
          <div class="input-field col s12">
            <select name="language" multiple>
              <option value="" disabled selected>Choose your languages</option>
              <% for (let lang of langs) { %>
                <option
                  <% if (userTags.includes(lang.id)) { %>
                    selected
                  <% } %>
                  value="<%= lang.name %>"><%= lang.name %></option>
              <% } %>
            </select>
            <label for="language">Languages</label>
          </div>
        </div>
        <div class="row dev-options">
          <div class="input-field col s12">
            <select name="charity" multiple>
              <option value="" disabled selected>Choose your charity types</option>
              <% for (let charity of charities) { %>
                <option
                  <% if (userTags.includes(charity.id)) { %>
                    selected
                  <% } %>
                  value="<%= charity.name %>"><%= charity.name %></option>
              <% } %>
            </select>
            <label for="charity">Charity Types</label>
          </div>
        </div>

        <div class="row dev-options">
          <div class="input-field col s12 m12">
            Choose an avatar
          </div>
          <% ['avatar1w.png', 'avatar2w.png', 'avatar3w.png', 'avatar4w.png', 'avatar5w.png', 'avatar1m.png', 'avatar2m.png', 'avatar3m.png', 'avatar4m.png', 'avatar5m.png', 'avatarneutral.png', 'avatarneutral2.png'].map((img) => { %>
            <div class="input-field col s12 m4">
              <input name="avatar" type="radio" id="<%= img %>" value="<%= img %>"
                <% if (img === user.avatar) { %>
                  checked
                <% } %>
                  />
              <label for="<%= img %>"><img src="/images/<%= img %>" class="choose-avatar"></label>
            </div>
          <% }) %>
        </div>

      <% } %>

      <% if (user.userType === 'nonprofit') { %>
        <input type="hidden" name="userType" value="nonprofit">
        <div class="row np-options">
          <div class="input-field col s12">
            <input name="orgName" id="orgName" type="text" class="validate"
              value="<%= user.orgName %>">
            <label for="orgName">Organization Name</label>
          </div>
        </div>
        <div class="row np-options">
          <div class="input-field col s12">
          <select name="charityType">
          <option value="" disabled selected>Choose your option</option>

        <% ['Animal', 'Arts and Culture', 'Education', 'Environmental', 'Health', 'International NGO'].map((type) => { %>
          <option value="<%= type %>"
            <% if (type === user.charityType) { %>
              selected
            <% } %>
              data-icon="/images/<%= type %>.png" class="left circle"><%= type %></option>
        <% }) %>

            </select>
            <label for="charityType">Charity Type</label>
          </div>
        </div>
      <% } %>

      <button class="btn waves-effect waves-light <%= mainColor %> <%= fontColor %>" type="submit" name="action">Submit
      </button>
    </form>
  </div>
</div>

<footer class="page-footer <%= mainColor %>">
  <div class="container my-footer">
  </div>
</footer>

<%- include('../partials/footer') %>
