<%- include('../partials/header') %>

  <h1><%= user.firstName %> <%= user.lastName %></h1>

  <p><%= user.description %></p>
  <p>Email: <%= user.email %></p>
  <p>Website: <%= user.website %></p>
  <p>GitHub: <%= user.github %></p>
  <p>LinkedIn: <%= user.linkedin %></p>
  <p>Country: <%= user.country %></p>


<%- include('../partials/footer') %>
