<%- include('../partials/header') %>

  <%# SHOW DEVELOPER %>
  <% if (user.userType === 'developer') { %>
    <h1><%= user.firstName %> <%= user.lastName %></h1>

    <p><%= user.description %></p>
    <p>Email: <%= user.email %></p>
    <p>Website: <%= user.website %></p>
    <p>GitHub: <%= user.github %></p>
    <p>LinkedIn: <%= user.linkedin %></p>
    <p>Country: <%= user.country %></p>

    <p>Charity Types:
      <% for (let tag of tags) { %>
        <% if (tag.tagType === 'charityType') { %>
          <div class="chip"><%= tag.name %></div>
        <% } %>
      <% } %>
    </p>

    <p>Technologies:
      <% for (let tag of tags) { %>
        <% if (tag.tagType === 'technology') { %>
          <div class="chip"><%= tag.name %></div>
        <% } %>
      <% } %>
    </p>

    <p>Languages:
      <% for (let tag of tags) { %>
        <% if (tag.tagType === 'language') { %>
          <div class="chip"><%= tag.name %></div>
        <% } %>
      <% } %>
    </p>

  <%# SHOW NONPROFIT %>
  <% } else { %>
    <h1><%= user.orgName %></h1>

    <p><%= user.description %></p>
    <p>Charity Type: <%= charity.name %></p>
    <p>Email: <%= user.email %></p>
    <p>Website: <%= user.website %></p>
    <p>Country: <%= user.country %></p>
    <h3>Projects</h3>
    <ul class="user-projects-list">
      <% for (let project of projects) { %>
        <li>
          <p><%= project.title %></p>
          <p><%= project.description %></p>
          <p>Deadline: <%= project.deadline %></p>
          <p>GitHub: <%= project.github %></p>
          <hr>
        </li>
      <% } %>
    </ul>

  <% } %>


  <hr>

  <h3>Reviews</h3>
  <ul class="reviews-list">
    <% for (let review of reviews) { %>
      <li>
        <p><%= review.body %></p>
        <p><%= review.reviewer.firstName %> <%= review.reviewer.lastName %></p>
        <p><strong>Rating: </strong><%= review.rating %></p>
        <p><strong>Created At: </strong><%= review.createdAt %></p>
        <hr>
      </li>
    <% } %>
  </ul>


<%- include('../partials/footer') %>
