<% let mainColor = 'white'; %>
<% let fontColor = 'black-text'; %>
<% let altFontColor = 'black-text'; %>

<% if (currentUser && currentUser.userType === 'developer') { %>
  <% mainColor = 'deep-purple'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'deep-purple-text' %>
<% } else if (currentUser && currentUser.userType === 'nonprofit') { %>
  <% mainColor = 'cyan'; %>
  <% fontColor = 'white-text' %>
  <% altFontColor = 'cyan-text' %>
<% } %>

<%- include('../partials/header') %>

<div class="container">
  <%# SHOW DEVELOPER %>
  <% if (user.userType === 'developer') { %>
    <div class="row dev-card card">
      <div class="col s12 m5">
        <img src="/images/<%= user.avatar %>" class="avatar-large">
        <h3><%= user.firstName %> <%= user.lastName %></h3>
        <p><%= user.description %></p>
      </div>
      <div class="col s12 m7 dev-stretch">
        <div class="col s12 m12 dev-info">
          Website: <a href="<%= user.website %>"><%= user.website %></a><br>
          GitHub: <a href="<%= user.github %>"><%= user.github %></a><br>
          LinkedIn: <a href="<%= user.linkedin %>"><%= user.linkedin %></a><br>
          Country: <%= user.country %>
          <p>Charity Types:
            <% for (let tag of tags) { %>
              <% if (tag.tagType === 'charityType') { %>
                <div class="chip"><%= tag.name %></div>
              <% } %>
            <% } %>
          </p>

          <p>Technologies:
            <% for (let tag of tags) { %>
              <% if (tag.tagType === 'technology') { %>
                <div class="chip"><%= tag.name %></div>
              <% } %>
            <% } %>
          </p>

          <p>Languages:
            <% for (let tag of tags) { %>
              <% if (tag.tagType === 'language') { %>
                <div class="chip"><%= tag.name %></div>
              <% } %>
            <% } %>
          </p>

          <% if (currentUser && currentUser.id !== user.id) { %>
            <div class="contact-button right">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn <%= mainColor %> <%= fontColor %>" href="#modal1">
                Contact
              </a>
            </div>
          <% } %>
        </div>
      </div>

    </div>


  <%# SHOW NONPROFIT %>
  <% } else { %>
    <div class="row np-card card">
      <div class="col s12 m5">
        <img src="/images/<%= user.avatar %>" class="avatar-large">
        <h3><%= user.orgName %></h3>
        <p><%= user.description %></p>
      </div>
      <div class="col s12 m7 np-stretch">
        <div class="col s12 m12 np-info">
          Contact Name: <%= user.firstName %> <%= user.lastName %><br>
          Website: <a href="<%= user.website %>"><%= user.website %></a><br>
          Country: <%= user.country %>
          <p>Charity Type: <span class="chip"><%= user.charityType %></span></p>

          <% if (currentUser && currentUser.id !== user.id) { %>
            <div class="contact-button right">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn <%= mainColor %> <%= fontColor %>" href="#modal1">
                Contact
              </a>
            </div>
          <% } %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col s12 m12">
        <h3>Projects</h3>

        <% if (projects.length > 0) { %>
          <div class="user-projects-list">
            <% for (let project of projects) { %>
              <% if (project.isHidden && currentUser && currentUser.id !== project.ownerId) { %>
              <% } else if (project.isHidden && currentUser && currentUser.id === project.ownerId) { %>
                <div class="card white">
                  <div class="card-content black-text">
                    <h4><%= project.title %></h4>
                    <strong>This project is hidden. Edit project to show.</strong>
                    <br><br><%= project.description %>
                    <br><br>GitHub: <a href="<%= project.github %>"><%= project.github %></a>
                    <br><br>Deadline: <span data-moment-format="LL"><%= project.deadline %></span>

                    <br><br>Technologies:
                      <br><% for (let tag of project.Tags) { %>
                        <% if (tag.tagType === 'technology') { %>
                          <div class="chip"><%= tag.name %></div>
                        <% } %>
                      <% } %>


                    <br><br>Languages:
                      <br><% for (let tag of project.Tags) { %>
                        <% if (tag.tagType === 'language') { %>
                          <div class="chip"><%= tag.name %></div>
                        <% } %>
                      <% } %>

                      <div class="right">
                      <a class="waves-effect waves-<%= mainColor %> btn <%= mainColor %> <%= fontColor %>" href="/projects/<%= project.id %>/edit">
                        Edit
                      </a>
                    </div>
                  </div>
                </div>
              <% } else { %>
                <div class="card white">
                  <div class="card-content black-text">
                    <h4><%= project.title %></h4>
                    <%= project.description %>
                    <br><br>GitHub: <a href="<%= project.github %>"><%= project.github %></a>
                    <br><br>Deadline: <span data-moment-format="LL"><%= project.deadline %></span>

                    <br><br>Technologies:
                      <br><% for (let tag of project.Tags) { %>
                        <% if (tag.tagType === 'technology') { %>
                          <div class="chip"><%= tag.name %></div>
                        <% } %>
                      <% } %>


                    <br><br>Languages:
                      <br><% for (let tag of project.Tags) { %>
                        <% if (tag.tagType === 'language') { %>
                          <div class="chip"><%= tag.name %></div>
                        <% } %>
                      <% } %>

                    <% if (currentUser && currentUser.id === project.ownerId) { %>
                      <div class="right">
                        <a class="waves-effect waves-<%= mainColor %> btn <%= mainColor %> <%= fontColor %>" href="/projects/<%= project.id %>/edit">
                          Edit
                        </a>
                      </div>
                    <% } %>
                  </div>
                </div>
              <% } %>
            <% } %>
          </div>
        <% } else { %>
          <p>This nonprofit does not currently have any projects listed.</p>
        <% } %>
      </div>
    </div>


  <% } %>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Send a Message</h4>
      <p>
        <form id="send-message-form" class="col s12" action="/users/<%= user.id %>/messages" method="post">
          <div class="row">
            <div class="input-field col s12">
              <textarea name="body" id="body" class="materialize-textarea"></textarea>
              <label for="body">Body</label>
            </div>
          </div>
        </form>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-<%= mainColor %> btn-flat">Cancel</a>
      <button class="btn waves-effect waves-light  <%= mainColor %> <%= fontColor %>" id="send-message" type="submit" name="action">Send
      </button>
    </div>
  </div>




  <div class="row">
    <div class="col s12 m6">
      <h3>Reviews</h3>

      <% if (reviews.length > 0) { %>
        <div class="reviews-list">
          <% for (let review of reviews) { %>
            <div class="card white">
              <div class="card-content black-text">
                  <% for (let i = 0; i < review.rating; i++) { %>
                    <i class="material-icons tiny">star</i>
                  <% } %>
                <br><br><%= review.body %>
                <br><br><a href="/users/<%= review.reviewer.id %>"><%= review.reviewer.firstName %> <%= review.reviewer.lastName %></a>
                <br><br><em><span data-moment-format="LLL"><%= review.createdAt %></span></em>
              </div>
            </div>
          <% } %>
        </div>
      <% } else { %>
        <p>This account does not currently have any reviews.</p>
      <% } %>
    </div>




    <% if (currentUser && currentUser.id !== user.id) { %>
      <div class="col s12 m6">
        <h3>Leave a Review</h3>

        <div class="card white">
          <div class="card-content black-text">
            <div class="row">
              <form class="col s12" action="/users/<%= user.id %>/reviews" method="post">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea name="body" id="body" class="materialize-textarea"></textarea>
                    <label for="body">Body</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input name="rating" id="rating" type="number" min="1" max="5" step="1" class="validate">
                    <label for="rating">Rating (1-5)</label>
                  </div>
                </div>
                <button class="btn waves-effect waves-light right <%= mainColor %> <%= fontColor %>" type="submit" name="action">Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>

  </div>
</div>

<footer class="page-footer <%= mainColor %>">
  <div class="container my-footer">
  </div>
</footer>

<%- include('../partials/footer') %>
